{% extends 'base.html' %}

{% block content %}
<form class="col-lg-4 mx-auto"
    method="get">
    <input class="rounded-4 form-control"
        type="text"
        name="q"
        placeholder="Search..."
        value="{{ request.GET.q }}">
    <br>
    <div class="text-end">
        <button class="btn btn-dark px-5 rounded-4"
            type="submit">Search</button>
    </div>
</form>
<hr>
<a class="btn btn-dark px-5 rounde-4"
    href="{% url 'receipt-create' %}">Add</a>
<br><br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Receipt number</th>
            <th scope="col">Officer</th>
            <th scope="col">date</th>
            <th scope="col">Amount</th>
            <th scope="col">Years</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <th scope="row">1</th>
            <td><a href="{{object.get_absolute_url}}">#{{ object.receipt_no }}</a></td>
            <td>{{object.electrical}}</td>
            <td>{{object.date}}</td>
            <td>${{object.amount}}</td>
            <td>{{object.years}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="text-center">Empty</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}