{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if object.photo %}
    <div class="text-end">
        <a target="_blank"
            href="{{object.photo.url}}">
            <img class="rounded-4"
                width="100"
                src="{{object.photo.url}}"
                alt="">
        </a>
    </div><br>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h3>{{ object.name }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>DOB:</strong> {{ object.dob }}</p>
                    <p><strong>Address:</strong> {{ object.address }}</p>
                    <p><strong>email:</strong> {{ object.email }}</p>
                    <p><strong>Phone:</strong> {{ object.phone }}</p>
                    <p><strong>Action:</strong> {{ incoming.action }}</p>
                    {% if object.signature %}
                    <p><strong>Signature:</strong><a target="_blank"
                            href="{{ object.signature.url }}"> <img
                                class="rounded-4"
                                width="70"
                                src="{{ object.signature.url }}"
                                alt=""></a></p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p><strong>License:</strong> {{ object.license_no }}</p>
                    <p><strong>Category:</strong> {{ object.category }}</p>
                    <p><strong>Issued:</strong> {{ object.i_date }}
                    </p>
                    <p><strong>Expires:</strong> {{ object.ex_date }}
                    </p>
                    <p><strong>Notes:</strong> {{ object.notes }}
                    </p>
                    {% if object.stamp %}
                    <p><strong>Stamp:</strong> <a target="_blank"
                            href="{{ object.stamp.url }}"> <img
                                class="rounded-4"
                                width="70"
                                src="{{ object.stamp.url }}"
                                alt="">
                        </a>
                    </p>
                    {% endif %}

                </div>
            </div>
            <div class="text-end">
                <a class="btn btn-dark px-5 rounded4"
                    href="{% url 'electrical-update' object.pk %}">Edit</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}